.offer-details {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.offer-details-item h5 {
    margin-bottom: 5px;
    font-size: 18px;
}

.offer-details-item p {
    margin: 0;
    font-size: 16px;
    color: #555;
}