.status-accepted,
.status-rejected,
.status-pending,
.status-cancelled {
    display: inline-block;
    padding: 3px 6px;
    border-radius: 5px;
    font-weight: bold;
}

.status-accepted {
    background: rgba(40, 199, 111, 0.16);
    color: #28C76F;
}

.status-rejected {
    background: rgba(234, 84, 85, 0.16);
    color: #EA5455;
}

.status-pending {
    background: rgba(115, 103, 240, 0.16);
    color: #7367F0;
}

.status-cancelled {
    background: rgba(169, 169, 169, 0.16);
    color: #777777;
}