.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3rem;
  margin-right: 0.5rem;
}

.logo-text {
  position: relative;
  top: 0.2rem;
  color: #764ABC;
}

/* .navbar-toggler {
  background-color: whitesmoke;
} */

.navbar-nav .nav-link {
  color: #764ABC;
  font-weight: 700;
  font-size: 1.0625rem;
  margin-left: 1rem;
  text-transform: uppercase;
}
/* 
.nav-link:hover {
  color: #f7c32e !important
} */

#my-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: whitesmoke;
}