.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3rem;
  margin-right: 0.5rem;
}

.logo-text {
  position: relative;
  top: 0.2rem;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 1rem;
  text-transform: uppercase;
}

.navbar-nav .nav-link.active {
  font-weight: 500;
}

.nav-link:hover {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.logo-text:hover {
  color: #007bff;
}

#my-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}