.sidebar {
    height: 100%;
    background-color: #f8f9fa;
    padding: 20px;
}

.sidebar li {
    text-align: left;
    list-style: none;
    margin: 10px 0;
}

.sidebar li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    vertical-align: middle;
    padding: 4px;
}

.sidebar li a:hover {
    color: #007bff;
}

.sidebar-mystyle {
    position: sticky;
    left: 0;
    z-index: 999;
}